<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      Id="1"
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnkKCZP-Zs7kwb_wyx3kYcKMLxlKBtLtZsAQ&usqp=CAU"
      cardTitle="Homem-Aranha: sem volta para casa."
      cardDescription='Chamado de "The more fun stuff version" ("A versão mais divertida", em tradução livre), o filme do herói com cenas novas tem previsão de estreia em 2 de setembro nos dois países. De acordo com a publicação, outros países serão divulgados em breve.'
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0l8G9eGGZlw2e6TCYDAFE9BtiBroTQbxHEQ&usqp=CAU"
      cardTitle="Novo filme do Homem-Aranha"
    ></app-small-card>
    <app-small-card
      Id="3"
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsumQfAwCrXvQhchCvLCa5UBJUjN8JNxD0yQ&usqp=CAU"
      cardTitle="Novo filme do Homem de Ferro"
    ></app-small-card>
    <app-small-card
      Id="4"
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQ5B_I1ZLBYMhXPRh7B35XeAMOtllpp-WkIA&usqp=CAU"
      cardTitle="Novo filme do Hulk"
    ></app-small-card>
  </div>
</div>
